
# ------------------------------------------------------------------------------
# {{ host_name }}
# ------------------------------------------------------------------------------

define {{object}}{
{% for item in list%}
    {%- for key, value in item.items()%}
        {{key}}    {{value}}
    {%- endfor %}    
{%- endfor %}
}